{% extends 'base.html'%}
{% from "_formhelpers.html" import render_field %}
{%block content%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="post" action="/password/change/">
  <dl>
        <input name="reset_code" style="display:none" value={{reset_code}}></input>
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
  </dl>
  <p><input type="submit" value="Change Password">
</form>
{% endblock %}