{% extends 'base.html'%} 
{% block morehead %} 
<link href="/static/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css"> 
<link href="/static/css/funnel.css" type="text/css" rel="stylesheet">
<style>

body {
  overflow-y:scroll;
}

#char svg {
	  width: 700px;
	    height: 300px;;
	}

.nv-axisMaxMin{
	display:none;
}
</style>
{% endblock %}
{% block topform %}
{% endblock %}
{% block content %}
<h1> Hypothesis:</h1>
<h2>{{hypothesis}}</h2>
<h3> Google Analytics Visitor Data</h3>
	<div id="char">
		<svg ></svg>
	</div>
<h3>Visitor Funnel</h3>
    <div class="funnel-container">
    </div> <button id="update">Update</button>
    <button id="toggle-orientation">Toggle Orientation</button>
    <button id="empty">Empty Data</button>
 
<h3> Wufoo </h3>
	<div id="chart">
		<svg></svg>
	</div>

<script src="/static/js/underscore.js"></script>	
<script src="/static/js/backbone.js"></script>
<script src="/static/js/d3.js"></script>
<script src="/static/nvd3/nv.d3.js"></script>
<script src="/static/nvd3/src/models/legend.js"></script>
<script src="/static/nvd3/src/models/line.js"></script>
<script src="/static/js/hypotheses.js"></script>
<script src="/static/js/goals.js"></script>
<script src="/static/js/pie.js"></script>
<script src="/static/js/funnel.js"><script>
{% endblock %}
