{% extends 'base.html'%}
{%block content%}
		<!-- Main hero unit for a primary marketing message or call to action -->
			<div class="hero-unit" style="text-align:center">
				<h1>Lean Workbench</h1>
				<form id="registration-form" action="/users/create/" method="POST">
						<input type="text" name="username" placeholder="Username">
						<p>
						<input type="text" name="email" placeholder="Email">
						<p>
						<input type="password" name="password"  placeholder="Password">
						<p>
						<input name="device" value="web" style="display:none">
						<button id="registration-button" type="submit" class="btn">Register</button>
					</form>
			
							</div>
            <hr>

{% endblock %}
