flask==0.9
flask-sqlalchemy
flask-security==1.7.3
flask-mail
simplejson
psycopg2
flask-restful
google-api-python-client
flask-WTF
gunicorn
tornado
flask-script==2.0.3
py-bcrypt
twython==3.1.1
facebook-sdk
itsdangerous
requests
celery
redis
oauth2
rauth
nose
