<h1>Ongoing Hypotheses</h1>
<!-- block -->
<div class="block">
    <div class="navbar container block-header navbar-inverse col-lg-12">
        <div class="navbar-left navbar-inverse">Hypotheses</div>
        <div class="navbar-right"><span class="badge badge-info">3</span>
        </div>
    </div>
    <div class="block-content collapse in">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Feature Endpoint</th>
                    <th>Engine</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">Revamped Dashboard-Stickiness</a></td>
                    <td>/dashboard</td>
                    <td>Stick</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#">Revamped Dashboard-Virality</a></td>
                    <td>/dashboard</td>
                    <td>Virality</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#">VC-Matcher</a></td>
                    <td>/vcmatch</td>
                    <td>Paid</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>                                                      