      .funnel {
        position: relative;
        background: #F0F0F0;
      }
      .funnel-piece {
        background-color: gray;
        position: absolute;
        transition: 250ms;
        background-clip: content-box;
        border: 0px solid transparent;
      }
      .funnel-piece:hover {
        cursor: pointer;
        opacity: 0.9;
      }
      .funnel-axis {
        position: absolute;
      }
      .funnel.horizontal-funnel .funnel-axis {
        bottom: 0px;
      }
      .funnel.vertical-funnel .funnel-axis {
        right: 0px;
      }
      .funnel-axis .title{
        font-size: 14px;
        line-height: 22px;
        padding: 0 6px;
        color: #606060;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .funnel-axis .amount{
        line-height: 18px;
        font-size: 10px;
        padding: 0 6px;
        color: #999;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .funnel-zero-state {
        position: absolute;
        font-size: 3em;
        color: #C0C0C0;
        text-shadow: 0 1px 0 #FFF;
      }
 
