 <div class="onboarding holder">
 <div class="container">
    <div ng-controller="ViralityController" id="stick-engine" style="">
      <h2 class="center"> Virality Engine</h2>
      <div class="center">
        <img src="/static/img/icons/social_google_box.png" style="width:128px;height:138px;">
      </div>
        <p style="font-size:20px">The virality engine thrives on getting the word out about your product. Who's talking about your work and why? The key performance indicator is <u>viral coefficient</u>,the number of users each user brings on, and this can be measured using the Facebook and Twitter APIs. We estimate the viral coefficient with a formula that weighs product mentions and interactions with your product pages by the influence of the user interacting.<p></p>
        <p ng-show="has_twitter()"><b>Your Twitter account is connected.</b></p>
        <p ng-hide="has_twitter()" class="center">
          <button href="/connect/twitter/" type="button" class="btn btn-primary btn-lg">Connect to Twitter</button>
        </p>
        <p ng-show="has_fb()"><b>Your Facebook account is connected.</b></p>
        <p ng-hide="has_fb()" class="center">
          <button href="/connect/facebook/" type="button" class="btn btn-primary btn-lg">Connect to Facebook</button>
        </p>
        <div class="center">
          <ul class="pager">
            <li><a href="/virality">Next</a></li>
          </ul>
        </div>
    </div>
</div>
