  <div class="container-fluid col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="index.html"><i class="icon-chevron-right"></i>Hypotheses</a>
                </li>
                <li>
                    <a href="/stats"><i class="icon-chevron-right"></i>Measurements</a>
                </li>
                <li>
                    <a href="stats.html"><i class="icon-chevron-right"></i>Results</a>
                </li>
                <li>
                    <a href="form.html"><i class="icon-chevron-right"></i>Decisions</a>
                </li>
                <li>
                    <a href="form.html"><i class="icon-chevron-right"></i>APIS</a>
                </li>
                <li>
                    <a href="tables.html"><i class="icon-chevron-right"></i>Export Data</a>
                </li>
            </ul>
        </div>
            <!--/span-->
            <div class="col-lg-10" id="content">
                <div class="row">
                    <div class="col-lg-10">
                        <h1>Ongoing Hypotheses</h1>
                        <!-- block -->
                        <div class="block">
                            <div class="navbar container block-header navbar-inverse col-lg-12">
                                <div class="navbar-left navbar-inverse"><a href="#" class="navbar-link">Hypotheses</a></div>
                                <div class="navbar-right"><span class="badge badge-info">3</span>
                                </div>
                            </div>
                            <div class="block-content collapse in">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Feature Endpoint</th>
                                            <th>Engine</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<div ng-controller="HypothesesListController">
	                                    	<div ng-repeat="hypothesis in hypotheses | orderBy: 'id':true ">
	                                    		<tr>
	                                    			<td>[[hypothesis.id]]</td>
	                                    			<td><a href="/api/v1/hypotheses/[[hypothesis.id]]">[[hypothesis.title]]</td>
	                                    			<td>[[hypothesis.endpoint]]</td>
	                                    			<td>[[hypothesis.engine]]</td>
	                                    		</tr>
											</div>
										</list>
                                    </tbody>
                                    <div ng-show="!hypothesis.length">You have no experiments yet.

                                    <div>

                                </table>
                            </div>
                        </div>
                        <h3>Percent Completed</h3>
                            <div class="block-content collapse in">
                                <div class="col-lg-3">
                                    <div class="chart" data-percent="73">73%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Revamped Dashboard-Stickiness</span>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="chart" data-percent="53">73%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Revamped Dashboard-Virality</span>

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="chart" data-percent="83">83%</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">VC-Matcher</span>
                                    </div>
                                   </div>
							       <script>
							        $(function() {
							        	console.log('making pie charts')
							            // Easy pie charts
							            $('.chart').easyPieChart({animate: 1000});
							        });
							        </script>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>