{% from "_formhelpers.html" import render_field %}
{% extends 'base.html'%}
	{% block morehead %}
		<script src="/static/js/underscore.js"></script>
		<script src="/static/js/backbone.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/route_view.js"></script>
		<script src="/static/js/d3.js"></script>
		<script src="/static/nvd3/nv.d3.js"></script>
		<script src="/static/nvd3/src/models/legend.js"></script>
		<script src="/static/nvd3/src/models/line.js"></script>
		<script src="/static/js/goals.js"></script>
		<script src="/static/js/pie.js"></script>
		<script src="/static/js/funnel.js"></script>
		<link href="/static/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css"> 
		<link href="/static/css/funnel.css" type="text/css" rel="stylesheet">
		<style>

	body {
	  overflow-y:scroll;
	}

	#char svg {
		  width: 700px;
			height: 300px;;
		}

	.nv-axisMaxMin{
		display:none;
	}
	</style>
		{% endblock %}
	{% block topform %}
	{% endblock %}

	{%block content%}
		{{alert}}
		<div class="row">
			<div class="well api-sidebar" style="max-width: 340px">
				<ul class="nav nav-list">
					<li class="nav-header">APIs</li>
					{% for api in api_connected %}
					<li class="connect" id={{api_urls[api]}}><a href="/connect/{{api_urls[api]}}">{{api}}</a></li>
					{% endfor %}
					<li class="view"><a href="http://0.0.0.0:4242/">Event Tracking</a></li>
				</ul>
			</div>
		<div id="body-content">
			You, <div id="username" style="display:inline">{{username}}</div>,  are logged in!
			<h2> Hypotheses </h2>
		 	{% for hypothesis in hypotheses %}
		         <li><a href="/hypothesis/{{ hypothesis.id }}">{{ hypothesis.goal }}</a></li>
			{% endfor %}
			{% if not  hypotheses %}
			<p>You have no hypotheses yet.
			{% endif %}

						<form id="hypothesis.form" action="/hypotheses" method="POST">
							{{ render_field(form.title) }}
						   	{{ render_field(form.google_analytics) }}
							{{ render_field(form.wufoo) }}
							{{ render_field(form.wufoo_handshake) }}
							{{ render_field(form.event) }}
						  	<button id="registration-button" type="submit" class="btn">Submit</button>
							</form>
			<p>
					<div class="ga-accounts"></div>

			
		</div>
		<script id='ga-tmpl' type='text/template'>
 	 	<ul>
    		<% for (var i = 0; i < profiles.length; i++) { %>
      		<% var profile = profiles[i]; %>
	      		<li>
	        		<a href="/google-analytics/profile/<%= profile.id %>"><%= profile.name%></a>
	      		</li>
	   		 <% } %>
	 </ul>
	</script>
 	{%endblock%}
