{% extends 'base.html'%}
	{% block morehead %}
		<script src="/static/js/underscore.js"></script>
		<script src="/static/js/backbone.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/route_view.js"></script>
		<script src="/static/js/d3.js"></script>
	<script src="/static/nvd3/nv.d3.js"></script>
	<script src="/static/nvd3/src/models/legend.js"></script>
	<script src="/static/nvd3/src/models/line.js"></script>
	<script src="/static/js/goals.js"></script>
	<script src="/static/js/pie.js"></script>
	<script src="/static/js/funnel.js"></script>
		<link href="/static/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css"> 
	<link href="/static/css/funnel.css" type="text/css" rel="stylesheet">
	<style>

	body {
	  overflow-y:scroll;
	}

	#char svg {
		  width: 700px;
			height: 300px;;
		}

	.nv-axisMaxMin{
		display:none;
	}
	</style>
		{% endblock %}
	{% block topform %}
	{% endblock %}

	{%block content%}
		{{alert}}
		<div class="row">
			<div class="well api-sidebar" style="max-width: 340px">
				<ul class="nav nav-list">
					<li class="nav-header">Connected APIs</li>
					{% for api in api_connected %}
						{% if api_connected[api] %}
						<li class="view" id="{{api_urls[api]}}" data-url="{{api_urls[api]}}"><a>{{api}}</a></li>
							<li class="nav-header">APIs to Connect</li>
						{% else %}
						<li class="connect" id={{api_urls[api]}} data-url="{{api_urls[api]}}"><a>{{ api	}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		<div id="body-content">
			You, <div id="username" style="display:inline">{{username}}</div>,  are logged in!
			<p>
					<div class="ga-accounts"></div>

			<a href="/connect/google-analytics">Google Analytics</a>
			<p><a href="/connect/angellist">Angellist</a>
		</div>
		<script id='ga-tmpl' type='text/template'>
 	 	<ul>
    		<% for (var i = 0; i < profiles.length; i++) { %>
      		<% var profile = profiles[i]; %>
	      		<li>
	        		<a href="/google-analytics/profile/<%= profile.id %>"><%= profile.name%></a>
	      		</li>
	   		 <% } %>
	 </ul>
	</script>
 	{%endblock%}
