{% extends 'base.html'%}
	{% block morehead %}
		<script src="/static/js/underscore.js"></script>
	    <script src="/static/js/socket.io.min.js"></script>
		<script src="/static/js/app.js"></script>
	{% endblock %}
	{% block topform %}
	{% endblock %}

	{%block content%}
	{{alert}}
	You, <div id="username" style="display:inline">{{username}}</div>,  are logged in!
	<p>
	<a href="/connect/google-analytics">Connect to Google Analytics</a>

	<div class="ga-accounts"></div>
	<script id='ga-tmpl' type='text/template'>
  <ul>
    <% for (var i = 0; i < profiles.length; i++) { %>
      <% var profile = profiles[i]; %>
      <li>
        <em>name:<%= profile.name%></em> id: <%= profile.id %>
      </li>
    <% } %>
  </ul>
</script>
 	{%endblock%}
