{% extends 'base.html'%}
	{% block topform %}
	{% endblock %}
{% block content %}
<div class="alert alert-success">
	Hooray! You have connected your Crunchbase data. <a href="/">Go back</a>
</div>
<h2>Lean Workbench's Profile</h2>
<img src="http://s3.amazonaws.com/crunchbase_prod_assets/assets/images/resized/0010/4951/104951v1-max-250x250.png">
<table>
	<tbody>
		<tr>
		<td class="td_left">Users</td><td class="td_right"><a href="http://hackNY.org" target="_self" title="hackNY.org" rel="nofollow">jrubinovitz@gmail.com</a></td></tr>
		<td class="td_left">Website</td><td class="td_right"><a href="http://hackNY.org" target="_self" title="hackNY.org" rel="nofollow">hackNY.org</a></td></tr>
<tr><td class="td_left">Blog</td><td class="td_right"><a href="http://hackNY.org/a/blog" target="_self" title="hackNY.org/a/blog" rel="nofollow">hackNY.org/a/blog</a></td></tr>
<tr><td class="td_left">Twitter</td><td class="td_right"><a href="http://twitter.com/hackNY" rel="nofollow">@hackNY</a></td></tr>
<tr><td class="td_left">Category</td><td class="td_right"><a href="/companies?q=other" title="Other">Other</a></td>
	</tr>
	<tr>
		<td class="td_left">Email</td><td class="td_right"><a href="mailto:%69%6e%66%6f@%68%61%63%6b%4e%59.%6f%72%67" rel="nofollow" title="info@hackNY.org">info@hackNY.org</a></td></tr>
	<tr><td class="td_left">Founded</td><td class="td_right">2/10</td></tr>
	<tr><td class="td_left">Description</td><td class="td_right">Org linking students to NYC startups</td></tr>
	</tbody>
</table>
<b>Tags</b>
<p><a>students</a>, <a>universities</a>, <a>hackathon</a>, <a>fellowships</a>, <a>startups</a>, <a>nyc</a>, <a>non-profit</a>
{% endblock %}
