{% extends 'base.html'%} 
{% block morehead %} 

</style>
{% endblock %}
{% block topform %}
{% endblock %}
{% block content %}
<h1> Mentor Search</h1>
<h3>Find a mentor for your company.</h3>
<p>Here are possible mentors for <i> Lean Workbench</i> based on your Lean Workbench profile and LinkedIn Network.</p>
<table class="table table-striped">
	<tr>
		<th>Picture</th>
		<th> Name</th>
		<th>Current Role</th>
		<th>Connection Level</th>
	</tr>
	<tr>
		<td><img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/4/000/13d/0f4/1acc3e8.jpg"></img></td>
		<td><a href="#">Andrew Montalenti</a></td>
		<td>CTO of Parse.ly</td>
		<td> 1 </td>
	</tr>
	<tr>
		<td><img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/2/000/19a/21f/2d57f9f.jpg"></img></td>
		<td><a href="#">Jerry Smith</a></td>
		<td>Securely Growing Business Through Technology and Data Science</td>
		<td> 2 (Mutual Connection: <a href="#">Bob Moul</a>)</td>
	</tr>
	<tr>
		<td><img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/3/000/1e1/1f8/03295af.jpg"></img></td>
		<td><a href="#">Michael Torto</a></td>
		<td>Chief Executive Officer at Embotics Corporation</td>
		<td>2 (Mutual Connection: <a href="#">Bob Moul</a>)</td>
	</tr>
	<tr>
		<td><img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/8/000/264/23f/298f100.jpg"></img></td>
		<td><a href="#">Kord Campbell</a></td>
		<td>Founder and CEO at TinyProbe, Inc.</td>
		<td>2 (Mutual Connection: <a href="#">Andrew Montalenti</a>)</td>
	</tr>
	<tr>
		<td><img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_60_60/p/7/005/009/27a/3d0c6ed.jpg"></img></td>
		<td><a href="#">Donny Zanger</a></td>
		<td>CEO Co-Founder at MobileZop
		</td>
		<td> 2 (Mutual Connections: <a href="#">Alexander Pease</a>, <a href="#">Mitchell Golner</a>)</td>
	</tr>
</table>

{% endblock %}
