{% extends 'base.html'%}
{% from "_formhelpers.html" import render_field %}
{%block content%}
  <div role="main" class="container">

    <div class="row" style="padding-top: 80px;">
		<!-- Main hero unit for a primary marketing message or call to action -->			
        <div class="hero-unit" style="height: 350px;">
          <div class="center">
            <h1>Lean Workbench</h1>
          </div>
		<p><p>
          <div class="center">
            <a class="btn btn-large" href="/register">
               Register
            </a>
            <span class="spacer"></span>

            <a class="btn btn-large btn-primary" href="/login">
             Login
            </a>

          </div>
       
        </div>
      </div>
    </div>

    <div class="row first">
      <div class="span4">
        <h1>Why Leanworkbench?</h1>
        <p>
 Chocolate bar wafer jelly beans brownie sesame snaps. Dragée biscuit cupcake caramels muffin chocolate bar sesame snaps halvah. Tiramisu gingerbread marshmallow candy canes pastry tiramisu jelly beans bear claw carrot cake. Lollipop wafer cotton candy bonbon tiramisu jelly beans chocolate marshmallow sesame snaps. Chupa chups jujubes tiramisu icing cotton candy. Macaroon carrot cake cotton candy croissant pie.
        </p>
      </div>
      <div class="span4">
        <h1>MOAR TEXT</h1>
        <p>
        Danish jelly beans pastry dessert. Dragée cake applicake apple pie bear claw. Muffin chocolate bar candy wafer apple pie fruitcake cupcake. Candy canes powder topping sweet cupcake dessert jujubes. Tootsie roll brownie dessert sweet roll gummies fruitcake sugar plum liquorice. Marshmallow dessert brownie apple pie brownie croissant cupcake. Cookie candy cotton candy donut wafer jujubes chocolate bar. Jujubes brownie dragée. Muffin chocolate cake marshmallow sweet roll jelly toffee cheesecake.
        </p>
      </div>
      <div class="span4">
        <h1>MOAR TEXT, MAYBE PIC?</h1>
        <p>
          Fruitcake donut applicake dragée chocolate sweet ice cream gingerbread soufflé. Liquorice pudding biscuit apple pie toffee chocolate bar tootsie roll. Chocolate cake ice cream marshmallow chupa chups pudding dessert sweet roll tiramisu dragée. Carrot cake wafer gummi bears pudding cupcake. Danish carrot cake jujubes chocolate cake sugar plum. Unerdwear.com tootsie roll brownie sesame snaps cupcake. Danish jelly-o chocolate cake tart biscuit wafer biscuit. Biscuit tart tootsie roll sweet unerdwear.com donut. Jelly-o sweet bisc
        </p>
      </div>
    </div>

{% endblock %}
