{% extends 'base.html'%}
{%block content%}
	Enter your username below and we will email you your password.
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    	<ul class="flashes">
    		{% for message in messages %}
      		<li>{{ message }}</li>
    		{% endfor %}
    	</ul>
  {% endif %}
{% endwith %}
	<form id="reset-password-form" action="/password/reset/" method="POST">
		<input type="text" name="username" placeholder="Username">
		<button id="registration-button" type="submit" class="btn">Submit</button>
	</form>
{% endblock %}