{% extends 'base.html'%} 
{% block morehead %} 
<link href="/static/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css"> 
<link href="/static/css/funnel.css" type="text/css" rel="stylesheet">
<style>

body {
  overflow-y:scroll;
}

#char svg {
	  width: 700px;
	    height: 300px;;
	}

.nv-axisMaxMin{
	display:none;
}
</style>
{% endblock %}
{% block topform %}
{% endblock %}
{% block content %}
<h1> Raising Capital</h1>
<h3> Who would be the most likely to invest in your company? </h3>
<p> Input a brief summary of your company. Our algorithms will parse the description and match you with investors with interests similar to your company. The current example is based on Dropbox's <a href="ycombinator.com">Y Combinator</a> application.</p>
<p>
<textarea rows="8" cols="50" style="width:80%;height:40%" placeholder="Filebox synchronizes files across your/your team's computers. It's much better than uploading or email, because it's automatic, integrated into Windows, and fits into the way you already work. There's also a web interface, and the files are securely backed up to Amazon S3. Filebox is kind of like taking the best elements of subversion, trac and rsync and making them just work for the average individual or team. Hackers have access to these tools, but normal people don't.

There are lots of interesting possible features. One is syncing Google Docs/Spreadsheets (or other office web apps) to local .doc and .xls files for offline access, which would be strategically important as few web apps deal with the offline problem.

Cofounded by MIT grads.">
</textarea>
<p>
<input type="submit" class="btn btn-success btn-large" value="Submit"/>
<script src="/static/js/underscore.js"></script>	
<script src="/static/js/backbone.js"></script>
{% endblock %}
