/* import all SASS sheets here to be served as main.css */
@import "onboarding.scss";
@import "index.scss";
@import "login.scss";
@import "hypotheses.scss";


.border-button {
    background: none;
    color: #fff;
    width: 300px;
    height: auto;
    padding: .5em 0;
    border: solid 1px #fff;
    text-transform: uppercase;
    transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -ms-transition: ease-in-out .3s;
    -webkit-transition: ease-in-out .3s;
    cursor: pointer;
    margin: 1.5em auto;
    font-size: 1.3em;

    &:hover {
        background: #3ACAA8;
    }
}

html {
    font-size: 1em;
}

body { 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding-bottom: 0;

    hr {
        border-top: 2px solid #f1f1f1;
        width: 85px;
    }

    .navbar-inverse {
        background-color: #fff;
        border-color: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.08);
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,.08);
        box-shadow: 0 2px 5px rgba(0,0,0,.08);
    }

    .navbar-inverse .navbar-brand {
        color: #000;
        text-transform: uppercase;
        font-weight: 400;
        transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -ms-transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
        &:hover {
            color: #3ACAA8;
        }
    }
    

    .navbar-inverse .navbar-nav>.active>a {
        background: transparent;
        color: #3ACAA8;
        &:hover {
            background: transparent;
            color: #3ACAA8;
        }

    }
    .active {

    }

    .navbar-inverse .navbar-nav>li>a {
        transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -ms-transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
        color: #325A6B;

        &:hover {
            color: #3ACAA8;
        }
    }

    .navbar-nav {
        float: right;
        position: relative;
        right: 2em;
    }

    .navbar-nav>li {
        color: #609288;
        font-weight: 400;
    }

    p {
        line-height: 1.3em;
        font-size: 1.2em;
        color: #fff;
        margin: 0;
    }

    .hero-wrapper {
        position: relative;
    }

    .lb-hero {
        background: url('/static/assets/lb-hero.png');
        background-size: cover;
        width: 100%;
        height: 600px;
        position: relative;
        z-index: 1;

        .hero-text-wrapper {
            margin: 0 auto;
            text-align: center;
            top: 3em;
            position: relative;
        }

        p {
            margin: 1em auto;
            width: 400px;
        }

        h1 {
            color: #fff;
            margin-bottom: 0;
            font-size: 4em;
        }
    }

    .transparent {
        z-index: 0;
        position: absolute;
        background: url('/static/assets/grilled.png');
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -khtml-opacity: .20; 
        -moz-opacity: .20; 
        -ms-filter: "alpha(opacity=20)";
        filter: alpha(opacity=20);
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.2);
        opacity: .20;       
    }

    h1 {
        font-family: 'Josefin Slab', serif;
        color: #000;
        font-weight: 300;
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 .5em;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        color: #000;
        font-weight: 300;
        font-size: 1.5em;
    }

    footer {
        height: 75px;
        width: 100%;
        background: #3D3D3D;
        padding: 1.5em 0;
        text-align: center;        
    }
    
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
}

.footer {
  position: relative;
  height: 50px;
  clear:both;
  padding-top:20px;
} 

.container{
    width:100%;
    padding:0%;
}
.features {
    width: 100%;
    padding: 4em 0 2em;
    .feature-image {
        height: 150px;
        width: 150px;
    }
    .col-lg-4 {
        padding: 2em 0;
        text-align: center;

        h2 {
            font-weight: 300;
            font-family: "Lato", sans-serif;
        }

        p {
            width: 300px;
            margin: 0 auto;
            color: #000;
        }
    }
}

.signup-modal {
    text-align: center;
    margin-left: -270px;
    left: 50%;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2.5em 1em;
    width: 550px;
    z-index: 2;
    position: absolute;
    top: 7em;
    bottom: 0;
    right: 0;
    height: 100%;

    .input-group {
        margin: 0 auto;
    }

    input {
        height: 35px;
        width: 400px;
        border-radius: 3px;
        margin: 1.2em auto;
        outline: none;
    }

    .btn {
        height: 45px;
        border: none;
        width: 400px;
        padding: .5em 0;
        color: #fff;
        background: #3ACAA8;
        transition: .5s ease-in-out;
        &:hover {
            border: none;
            background: #2CA387;
        }
    }
}

.modal-backdrop {
    background: #000;
    opacity: .8;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.exit {
    cursor: pointer;
    position: absolute;
    right: -25px;
    color: #fff;
    top: 0;
}
.md-effect-1 {
    z-index: -1;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show {
    z-index: 1050;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.supporters {
    background: url('/static/assets/grilled.png');
    height: 600px;
    padding: 2em 0;
    text-align: center;
}

.center {
	text-align:center;
}

.navbar nav {
    li a {
        font-size: 1.5em;
    }
}

.dashboard {
    padding: 3em 0 5em;

    .chart, .chart-bottom-heading {
        margin: 0 auto;
    }
    .chart-bottom-heading {
        text-align: center;
    }
}

.pointer {
    cursor: pointer;
}


form {

    .form-wrapper {
        width: 400px;
        margin: 2em auto;
    }

    input {
        height: 40px;
    }

    .btn {
        height: 45px;
        border: none;
        width: 400px;
        padding: .5em 0;
        color: #fff;
        background: #3ACAA8;
        transition: .5s ease-in-out;
        &:hover {
            border: none;
            background: #2CA387;
        }
    }

}

.signin, .registration {
    text-align: center;
    padding: 4em 0;

    p {
        color: #000;
        margin-top: 1em;
    }

    .form-wrapper {
        width: 400px;
        margin: 2em auto;
    }

    input {
        height: 40px;
    }

    .btn {
        height: 45px;
        border: none;
        width: 400px;
        padding: .5em 0;
        color: #fff;
        background: #3ACAA8;
        transition: .5s ease-in-out;
        &:hover {
            border: none;
            background: #2CA387;
        }
    }

}

#linkedin-button-container{
    text-align: center;
    margin-top: 30px;
}

#linkedin-button{
    height:50px;
}
