<div class="container">
	<div id="ga-success-holder" ng-controller="StickController">
	<h1> Success! </h1>
	Your Google Analytics account has been successfully authenticated. Choose a profile below.
	<select ng-model="user_profile" ng-options="profile.id as profile.name for profile in GA_profiles">
		<option value="">Choose profile id</option>
	</select>
	<p class="center">
	<button id="google-prof-submit" ng-click="submit_prof()" type="button" class="btn btn-primary btn-lg">Submit Profile
		</button>
	</p>
</div>
