<div class="dashboard clearfix" ng-controller="DashboardController">
    <div class="container-fluid col-lg-2" >
        <ul class="nav nav-pills nav-stacked">
            <li >
                <a href="/dashboard"><i class="icon-chevron-right"></i>Hypotheses</a>
            </li>
           <li class="active">
                <a href="/stats"><i class="icon-chevron-right"></i>Results</a>
            </li>
           <li>
                <a href="/onboarding/stick"><i class="icon-chevron-right"></i>APIs</a>
            </li>
            <li>
                <a href="/export"><i class="icon-chevron-right"></i>Export Data</a>
            </li>
        </ul>
    </div>
    <!--/span-->
    <div class="col-lg-10" id="content">
        <div class="row">
            <div class="col-lg-10">
                <h1>Results</h1>
                 <div style="text-align:center">You do not have any results yet. Results are calculated at the end of every day (Eastern Standard Time).</div>
            </div>
        </div>
    </div>
</div>
