<!-- PUBLIC.HTML TEMPLATE
================================================== -->

<!-- HERO -->
<div class="lb-hero">
  <div class="hero-text-wrapper">
    <h1>Hypothesize</h1>
    <p>Make hypotheses about viral, stickiness, and monetary growth and automate your results.</p>
    <div ng-click="scroll_to('registration')" class="green-btn"> Sign Up Today</div> 
  </div>
  <!-- <div class="transparent"></div> -->
</div>


<!-- features -->
<div class="features clearfix">
  <div class="col-lg-4">
    <img class="feature-image" data-src="holder.js/140x140" alt="140x140" src="/static/assets/flat-ui/svg/clipboard.svg">
    <h2>Hypothesize</h2>
    <p>Test your intuition and ideas you have received during interviews empirically by creating a Lean Workbench hypothesis.</p>
  </div><!-- /.span4 -->
  <div class="col-lg-4">
    <img class="feature-image" data-src="holder.js/140x140" alt="140x140" src="/static/assets/smallicons/SVG/calc.svg">
    <h2>Measure</h2>
    <p>Automate the measurement of your key performance indicators for your experiment. </p>
  </div><!-- /.span4 -->
  <div class="col-lg-4">
    <img class="feature-image" data-src="holder.js/140x140" alt="140x140" src="/static/assets/flat-ui/svg/compass.svg">
    <h2>Pivot or Persevere</h2>
    <p>Take a look at your data and the data of your cohort and decide how to proceed with your product.</p>
  </div><!-- /.span4 -->
</div>


<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
<!-- Three columns of text below the carousel -->
<div id="registration" class="input-group" ng-controller="RegistrationController">
  <form novalidate role="form simple-form" form-submit="submit()" name="reigstration_form">
    <div class="form-group">
      <span class="help-block" ng-show="email_error">[[ email_error ]]</span>
      <label for="email">Email address</label>
      <input type="email" class="form-control" ng-model="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <span class="help-block" ng-show="email_error">[[ company_error ]]</span>
      <label>Company Name</label>
      <input type="text" class="form-control" ng-model="company" placeholder="Company Name">
    </div>
    <div class="form-group">
      <span class="help-block" ng-show="email_error">[[ password_error ]]</span>
      <label>Password</label>
      <input type="password" class="form-control" ng-model="password" placeholder="Password">
    </div>
    <div class="form-group">
      <span>[[ confirm_password_error ]]</span>
      <label>Confirm Password</label>
      <input type="password" class="form-control" ng-model="password_confirm" placeholder="Confirm Password">
    </div>
    <button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
  </form>
 </div>
   <div id="login-holder" class="input-group" ng-controller="LoginController">
    <form novalidate role="form simple-form" form-submit="submit()" name="login_form">
      <div class="form-group">
        <span class="help-block" ng-show="email_error">[[ email_error ]]</span>
        <label for="email">Email address</label>
        <input type="email" class="form-control" ng-model="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <span class="help-block" ng-show="email_error">[[ password_error ]]</span>
        <label>Password</label>
        <input type="password" class="form-control" ng-model="password" placeholder="Password">
      </div>
      <button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
    </form>
 </div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->
<!-- FOOTER