<div class="dashboard clearfix" ng-controller="ViewScaleController">
    <div class="container-fluid col-lg-2" >
        <ul class="nav nav-pills nav-stacked">
            <li >
                <a href="/dashboard"><i class="icon-chevron-right"></i>Hypotheses</a>
            </li>
           <li class="active">
                <a href="/stats"><i class="icon-chevron-right"></i>Results</a>
            </li>
           <li>
                <a href="/onboarding/stick"><i class="icon-chevron-right"></i>APIs</a>
                </li>
      <li>
                <a href="/scale"><i class="icon-chevron-right"></i>Scale</a>
            </li>
        </ul>
    </div>    <!--/span-->
    <div class="col-lg-10" id="content">
        <div class="row">
            <div class="col-lg-10" style="padding-left:10%;padding-right:10%;">
                <h1>Scale</h1>
                <!-- block -->
                <div class="block">
                    <h3> Product Information </h3>
                    <div class="scale-field">Crunchbase Url: <a href="[[startup_data.crunchbase_url]]">[[startup_data.crunchbase_url]]</a></div>
                    <div class="scale-field">Angellist Url:<a href="[[startup_data.angellist_url]]"> [[startup_data.angellist_url]]</a></div>
                    <div class="scale-field">Product Description:</div>
                    [[startup_data.description]]
                    <p>
                    <h3> VC Matcher Matches </h3>
                    <div ng-repeat="vc in startup_data.vcs | orderBy: 'score':true ">
                        <a href="http://www.crunchbase.com/financial-organization/[[vc.crunchbase_url]]" target="_blank">[[vc.name]]</a>
                </div>            			    						<div ng-show="!startup_data.vcs.length">
    						
                </div>
                <!-- /block -->
            </div>
        </div>
    </div>
</div>
