<div class="registration">
    <h2> Sign Up </h2>
    <div class="form-wrapper">
        <form novalidate role="form simple-form" form-submit="submit()" name="reigstration_form">
            <div class="form-group">
                <input type="email" class="form-control" ng-model="email" placeholder="Email">
                <span class="help-block" ng-show="email_error">Please provide a valid email.</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" ng-model="company" placeholder="Company Name">
                <span class="help-block" ng-show="comapany_error">Please provide a company.</span>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="Password">
                <span class="help-block" ng-show="password_error">Password must be at least 6 characters.</span>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" ng-model="password_confirm" placeholder="Confirm Password">
                <span class="help-block" ng-show="password_confirm_error">Your passwords did not match.</span>
            </div>
            <button type="submit" ng-click="submit()" class="btn btn-default">Submit</button>
            <p>Already have an account? <a href="/signin">Sign in</a>.

        </form>
    </div>
</div>