
 <div class="onboarding holder">
 <div class="container">
    <div ng-controller="PayController" id="stick-engine" style="">
      <h2 class="center"> Pay Engine</h2>
      <div class="center">
      <img class="social-icon" src='/static/img/icons/quickbooks.png' style="width:128px;height:130px"></img>
      </div>
       <p style="font-size:20px">The paid engine thrives on focuses on making money. The key performance indicators are <u>customer lifetime value</u>, and <u>customer acquisition cost</u>. This can be measured using the Quickbooks Online API.
	   <p><b>Your Quickbooks Online account is connected.</b></p>
              <div class="center">
          <ul class="pager">
            <li><a href="/dashboard">Next</a></li>
          </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
<script>intuit.ipp.anywhere.setup({
    menuProxy: '/BlueDotMenu',
    grantUrl: '/connect/quickbooks/callback'
});</script>
