
 <div class="onboarding holder">
 <div class="container">
    <div ng-controller="PayController" id="stick-engine" style="">
      <h2 class="center"> Pay Engine</h2>
      <div class="center">
      <img class="social-icon" src='/static/img/icons/quickbooks.png' style="width:128px;height:130px"></img>
      </div>
      <p style="font-size:20px">The paid engine thrives on focuses on making money. The key performance indicators are <u>customer lifetime value</u>, and <u>customer acquisition cost</u>. This can be measured using the Quickbooks Online API.
      <p ng-show="has_qb"><b>Your Quickbooks Online account is connected.</b></p>
<span class="help-block" ng-show="ghosting_clicked">We'll let you know when this feature becomes available!</span>

     <div ng-hide="has_qb" class="center">
         <button ng-click="qb_ghost()" type="button" class="btn btn-primary btn-lg">Connect to Quickbooks</button>
  
   <!--
   <ipp:connectToIntuit></ipp:connectToIntuit>--> 
    </div>
      <div class="center">
          <ul class="pager">
            <li><a href="/onboarding/empathy">Next</a></li>
          </ul>
        </div>
    </div>
</div>

<script>
    /*
  intuit.ipp.anywhere.setup({          
      menuProxy: 'http://mtvl07ef11ee586.corp.intuit.net:8080/HelloWorldIA/BlueDotMenuServlet',
      grantUrl: 'http://leanworkbench.com/connect/quickbooks'
  })*/
</script>  
</body>
</html>  
