 <div class="onboarding holder">
 <div class="container">
    <div ng-controller="ScaleController" id="scale" style="text-align:center">
      <h2 class="center">Scale</h2>
      <div class="center">
        <img src="/static/assets/scale.png" style="width:128px;height:138px;">
        </div>
    <div>
        <div style="font-size:20px">
        Help us find you resources to scale your product.
        </div>
        <div id="crunchbase-info">
        </div>
        <div id="angellist-info">
        </div>
        <div id="mentor-matcher-info">
        </div>
        <form role="form simple-form" form-submit="add_startup_data" id="scale-form" name="scaleForm" style="text-align:center">
           <span class="help-block" ng-show="request_sent">[[help_msg]]</span>
            <div class="form-group"> 
              <input type="text" class="form-control" ng-model="crunchbase_url" placeholder="Crunchbase Url">
            </div>
            <div class="form-group">
	      <input type="text" class="form-control" ng-model="angellist_url" placeholder="Angellist Url">
            </div>
            <div class="form-group">
              <span class="error" ng-show="scaleForm.description.$error.minlength" style="display:block">
                  <b>Your description must be at least 3 words.</b></span>
              <textarea ng-minlength="3" name="description" class="form-control" rows="3" ng-model="description" placeholder="Example: A service that would let people bring all their files anywhere, with no need to email around attachments by two MIT students."></textarea>
          </div>
        </form> 
        <button ng-click="add_startup_data()" type="button" class="btn btn-primary btn-lg">Save data</button>
	</p>
	<div class="center">
          <ul class="pager">
            <li><a href="/onboarding/done">Next</a></li>
          </ul>
        </div>
    </div>
</div>

