<div id="welcome-page">
	<h1>Welcome to the Lean Workbench!</h1>
	<div id="intro">
		The Lean Workbench provides a dashboard of your startup’s performance, quantified by indicators that make sense for early stage companies. Think of this like the oscilloscope for your company. Each indicator is driven by an engine -- the next screens walk you through how to access these data from each engine, and then we’ll show you the resulting dashboard. 
			<div id="lets-get-started-btn-container">
		<a id="lets-get-started-btn" href="/onboarding/stick" class="btn btn-success btn-lg">Let’s get started!</a> 
	</div>
	</div>

</div>